.header{
	font-weight: 900;
	color: $burgandy;
	height: 69px;
	position: relative;
	margin: 0 auto;
	width: 55%;
	margin-bottom: 65px;
}

.logo{
	background-color: $burgandy;
	height: 29px;
	border-radius: 33px;
}

.co-name{
	font-size: 12px;
	font-weight: 900;
}

.slogan{
	font-size: 8px;
}

.gen-inq,.gen-toll{
	font-weight: 0;
	color: $green;
}

.logo-name-container{
	position: relative;
	left: 0;
	display: inline-block;
	text-align: center;
}

.nav-bar{
	position: relative;
	bottom: 16px;
	display: inline;
	font-weight: 900;
	z-index: 2;
}

li{
	color: $burgandy;
	padding-left: 25px;
	font-size: $header-font-size;
	display: inline-block;
	&:hover{
		cursor: pointer;
		color: $green;
		animation: menuFade 1s forwards;
	}
}


.nav-container{
	text-align: right;
	font-size: $header-font-size;
}

.header-contact-cont{
	position: relative;
	bottom: 87px;
	font-size: $header-font-size;
	display: inline-block;
	text-align: right;
	width: 100%;
}

.header-gen-inq{
	display: inline-block;
}

.header-toll-free{
	padding-left: 5px;
	display: inline-block;
}


















