.hero{
	position: relative;
	top: 175px;
	text-align: center;
	width: 100%;
	height: 200px;
	margin-bottom: 25px;
}

.hero-footer{
	position: relative;
	background-color: $burgandy;
	margin: 0 auto;
	width: 100%;
	height: 100px;
}

.hero-footer-text{
	font-size: 13px;
	color: #fff;
	height: 100px;
	position: absolute;
	left: 30%;
	z-index: 10;
	top: 20px;
	bottom: 3px;
	margin: 0 auto;
	text-align: center;
	width: 40%;
}

.slider{
	height: 270px;
	position: absolute;
	right: 1px;
	bottom: 100px;
	width: 100%;
}

.image-text{
	position: relative;
	z-index: 3;
	bottom: 116px;
	text-align: center;
}

.image-one{
	position: relative;
	bottom: 85px;
}

.image-header {
	display: inline-block;
	color: $burgandy;
	font-size: 25px;
}

.lorem1{
	font-size: 13px;
}

.button1{
	margin-top: 20px;
	font-size: 10px;
	color: #fff;
	padding: 3px;
	display: inline-block;
	background-color: $green;
	&:hover{
		cursor: pointer;
		color: $burgandy;
	}
	&:active{
		background-color: $burgandy;
		color: #fff;
	}
}

.dot{
	width: 10px;
	height: 10px;
	border: 1px solid $burgandy;
	position: relative;
	z-index: 10;
	border-radius: 10px;
	display: inline-block;
	&:hover{
		cursor: pointer;
	}
	/*background-color: $burgandy;*/
/*	background-position: center;
	background-size: cover;

	position: relative;
	z-index: 10;
	display: inline-block;
	&:hover{
		cursor: pointer;
	}*/
}

.hero-selector{
	background-color: $burgandy;
}


























