.hero{
	/*background-image: url("../img/car.png");
	background-size: cover;
	background-position: center;*/
	/*border: 1px solid $burgandy;*/
	margin: 0 auto;
	width: 100%;
	height: 200px;
	margin-top: -40px;
}

.hero-footer{
	position: relative;
	border: 1px solid $burgandy;
	background-color: $burgandy;
	margin: 0 auto;
	width: 100%;
	height: 100px;
}

.hero-footer-text{
	font-size: 13px;
	color: #fff;
	height: 100px;
	position: relative;
	top: 25px;
	margin: 0 auto;
	text-align: center;
	width: 40%;
}

.carousel{
	height: 210px;
	/*border: 2px solid red;*/
	position: absolute;
	bottom: 100px;
	width: 100%;
}

