@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) { 
	html,body{
		min-height: 100%;
	}
	.nav-bar,
	.header-contact-cont,
	.logo{
		display: none !important;
	}
	.footer{
		height: 240px !important;
		top: 384px !important;
	}
	.left-side{
		left: 0 !important;
		font-size: 20px !important;
		position: relative !important;
		top: 300px !important;
		width: 100% !important;

	}
	.burger-menu-container{ /* burger menu container */
		background-color: rgba(236, 239, 241, 1) !important;
		position: absolute;
		top: 2%;
		height: 300px;
		box-shadow: 1px 1px 2px black;
		z-index: 100;
		width: 81%;
		height: 760px;
	}
	.close{
		right: 15px !important;
		top: 15px !important;
		width: 80px !important;
		height: 80px !important;
	}
	.burger-container{ /* icon */
		position: absolute;
		z-index: 1000;
		bottom: 0;
		right: 0;
		z-index: 10;
		background-position: center;
		background-size: cover;
		width: 120px;
		height: 120px;
		background-image: url(../img/burger-menu.png);
		&:hover{
			cursor: pointer;
		}
	}

	.header-contact-cont2{
		position: relative !important;
		bottom: 486px !important;
	    right: 10px !important;
	    font-size: 36px !important;
	    display: grid !important;
	    text-align: right !important;
	}
	.burger-menu{ /*new nav inside burger menu*/
		position: relative !important;
		left: -15% !important;
		top: -2% !important;
		margin: 0 auto;
		width: 27%;
		text-align: center;
	}

	.mobileLogo{
		position: relative;
		left: 23%;
		width: 75px;
		height: 75px;
		background-size: cover;
		background-position: center;
		background-color: $burgandy;
		border-radius: 40px;
		background-image: url("../img/hands.png");
	}
	
	.header{
		height: 150px !important;
	}
	.co-name{
		font-size: 35px !important;
	}
	.slogan{
		font-size: 16px !important;
	}
	.hero-footer{
		height: 130px !important;
		top: 190px !important;
	}
	.slider{
		height: 440px !important;
	}
	.hero-footer-text{
		top: 51px !important;
	}
	.myElement{
		top: 400px !important;
	}
	.image-header{
		font-size: 40px !important;
	}
	.lorem1{
		font-size: 20px !important;
	}
	.button1{
		font-size: 20px !important;
	}
	.hand-tool-logo,
	.airplane-logo{
		width: 69px !important;
	}
	.right-side{
		width: 80% !important;
		display: inline-flex !important;
		top: 375px !important;
		font-size: 20px !important;
		left: 0% !important;
	}
	.align-right2{
		left: 4px !important;
	}
	.burger-menu-li{
		padding-top: 80px;
		font-size: 36px !important;
	}
	.service-align{
		font-size: 21px !important;
		text-align: center !important;
		display: inline !important;
	}
	.all-services{
		margin: 0 auto !important;
		width: 20% !important;
		/*font-size: 10px !important;*/
	}
	.airplane-logo{
		position: relative !important;
		top: 103px;
	}
	.contactMobile{
		position: relative !important;
		top: 94px;
	}
	.service-header1,
	.service-header2{
		font-size: 16px !important;
		text-align: center !important;
	}
	.footer-logo2{
		margin: 0 auto;
		width: 70px;
		height: 70px;
		background-size: cover;
		background-position: center;
		background-color: $green;
		border-radius: 40px;
		background-image: url("../img/hands2.png");
	}
	.logo2None{
		display: none !important;
	}
	.footer-logo{
		font-size: 15px !important;
	}
	.slogan2{
		font-size: 12px !important;
	}
	.first-line,
	.footer-address{
		font-size: 18px !important;
	}
	.third-line{
		font-size: 12px !important;
	}
	.align-right1,
	.align-right2{
		font-size: 27px;
	}
	.name,
	.name2{
		font-size: 23px !important;
	}
}