@keyframes menuFade{
	from { color: $burgandy;}
	to { color: $green;}
}

@keyframes fadeIn{
	from { opacity: 0.5;}
	to { opacity: 1;}
}

// @keyframes upDown{
// 	from { opacity: 0.5;}
// 	to { opacity: 1;}
// }