@media only screen and (max-width: 1199px) {
    .header-contact-cont{
	width: 100% !important;
	/*border: 2px solid yellow;*/
	}
}

@media only screen and (max-width: 1061px) {
    .nav-bar{
		text-align: center;
    }
	
}

@media only screen and (max-width: 677px) {
    .nav-bar{
    	text-align: left !important;
    	position: relative;
    	bottom: 31px !important;
		text-align: center;
    }
	
}
/*
@media only screen and (max-width: 641px) {
    .nav-bar{
    	text-align: left !important;
    	position: relative;

		text-align: center;
    }
	
}*/

@media only screen and (max-width: 1156px) {
	.footer{
		margin-top: 20px !important;
	}
}

@media only screen and (max-width: 970px) {
	.footer{
		margin-top: 50px !important;
	}
}

@media only screen and (max-width: 935px) {
	.footer{
		margin-top: 80px !important;
	}
}

@media only screen and (max-width: 829px) {
	.footer{
		margin-top: 110px !important;
	}
}

@media only screen and (max-width: 984px) {
	.right-side{

	}
}

@media only screen and (max-width: 767px) {
	.left-side{
		width: 100% !important;
		position: relative !important;
		margin: 0 auto !important;
	}
	.right-side{
		width: 100% !important;
		position: relative !important;
		top: 130px !important;
		left: 0 !important;
		
		/*left: 30% !important;*/
	}

	.footer{
		position: relative !important;
		top: -30px !important;
	}

	.hand-tool-logo,.service{
		position: relative;
		right: 20px;
	}
}






















