@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  html, body {
    min-height: 100%; }

  .nav-bar,
  .header-contact-cont,
  .logo {
    display: none !important; }

  .footer {
    height: 240px !important;
    top: 384px !important; }

  .left-side {
    left: 0 !important;
    font-size: 20px !important;
    position: relative !important;
    top: 300px !important;
    width: 100% !important; }

  .burger-menu-container {
    /* burger menu container */
    background-color: #eceff1 !important;
    position: absolute;
    top: 2%;
    height: 300px;
    box-shadow: 1px 1px 2px black;
    z-index: 100;
    width: 81%;
    height: 760px; }

  .close {
    right: 15px !important;
    top: 15px !important;
    width: 80px !important;
    height: 80px !important; }

  .burger-container {
    /* icon */
    position: absolute;
    z-index: 1000;
    bottom: 0;
    right: 0;
    z-index: 10;
    background-position: center;
    background-size: cover;
    width: 120px;
    height: 120px;
    background-image: url(../img/burger-menu.png); }
    .burger-container:hover {
      cursor: pointer; }

  .header-contact-cont2 {
    position: relative !important;
    bottom: 486px !important;
    right: 10px !important;
    font-size: 36px !important;
    display: grid !important;
    text-align: right !important; }

  .burger-menu {
    /*new nav inside burger menu*/
    position: relative !important;
    left: -15% !important;
    top: -2% !important;
    margin: 0 auto;
    width: 27%;
    text-align: center; }

  .mobileLogo {
    position: relative;
    left: 23%;
    width: 75px;
    height: 75px;
    background-size: cover;
    background-position: center;
    background-color: #4f0e1f;
    border-radius: 40px;
    background-image: url("../img/hands.png"); }

  .header {
    height: 150px !important; }

  .co-name {
    font-size: 35px !important; }

  .slogan {
    font-size: 16px !important; }

  .hero-footer {
    height: 100px !important;
    top: 190px !important; }

  .slider {
    height: 420px !important; }

  .hero-footer-text {
    top: 51px !important; }

  .myElement {
    top: 400px !important; }

  .image-header {
    font-size: 40px !important; }

  .lorem1 {
    font-size: 20px !important; }

  .button1 {
    font-size: 20px !important; }

  .hand-tool-logo,
  .airplane-logo {
    width: 69px !important; }

  .right-side {
    width: 80% !important;
    display: inline-flex !important;
    top: 375px !important;
    font-size: 20px !important;
    left: 0% !important; }

  .align-right2 {
    left: 4px !important; }

  .burger-menu-li {
    padding-top: 80px;
    font-size: 36px !important; }

  .service-align {
    font-size: 21px !important;
    text-align: center !important;
    display: inline !important; }

  .all-services {
    /*font-size: 8px !important;*/
    margin: 0 auto !important;
    width: 20% !important;
    /*font-size: 10px !important;*/ }

  .airplane-logo {
    position: relative !important;
    top: 103px; }

  .contactMobile {
    position: relative !important;
    top: 94px; }

  .service-header1,
  .service-header2 {
    font-size: 16px !important;
    text-align: center !important; }

  .footer-logo2 {
    margin: 0 auto;
    width: 70px;
    height: 70px;
    background-size: cover;
    background-position: center;
    background-color: #4f915b;
    border-radius: 40px;
    background-image: url("../img/hands2.png"); }

  .logo2None {
    display: none !important; }

  .footer-logo {
    font-size: 15px !important; }

  .slogan2 {
    font-size: 12px !important; }

  .first-line,
  .footer-address {
    font-size: 18px !important; }

  .third-line {
    font-size: 12px !important; }

  .align-right1,
  .align-right2 {
    font-size: 27px; }

  .name,
  .name2 {
    font-size: 23px !important; }

  .contact-logo-align {
    position: relative;
    bottom: 21px;
    right: 29px; }

  .hero {
    position: relative !important;
    top: 380px !important; }

  .slider-container {
    height: 500px; } }
@media only screen and (max-width: 800px) {
  .nav-bar {
    display: none !important; }

  .header-contact-cont {
    display: none !important; }

  .burger-container {
    /* icon */
    position: absolute;
    z-index: 1000;
    bottom: 0;
    right: 0;
    z-index: 10;
    background-position: center;
    background-size: cover;
    width: 44px;
    height: 44px;
    background-image: url(../img/burger-menu.png); }
    .burger-container:hover {
      cursor: pointer; }

  .burger-menu-container {
    /* burger menu container */
    background-color: #eceff1 !important;
    position: absolute;
    top: 2%;
    height: 180px;
    box-shadow: 1px 1px 2px black;
    z-index: 100;
    width: 100%; }

  .header-contact-cont2 {
    margin-top: -17px;
    position: relative;
    bottom: 103px;
    font-size: 9px;
    text-align: center; }

  .burger-menu {
    /*new nav inside burger menu*/
    position: relative;
    top: 24%;
    margin: 0 auto;
    width: 9%;
    text-align: center; } }
/*closes media 800px*/
@media only screen and (max-width: 652px) {
  .burger-menu {
    width: 11% !important; } }
@media only screen and (max-width: 543px) {
  .burger-menu {
    width: 15% !important; } }
@media only screen and (min-width: 800px) {
  .burger-menu,
  .burger-menu-container,
  .header-gen-inq2 {
    /*display: none !important;*/ } }
.burger-menu,
.burger-menu-container,
.header-gen-inq2 {
  display: none; }

ul {
  /*this is a fix, not sure where this padding-left is*/
  padding-left: 0px !important; }

.close {
  position: absolute;
  right: 0;
  width: 25px;
  height: 25px;
  background-position: center;
  background-size: cover;
  background-image: url("../img/close.png"); }
  .close:hover {
    cursor: pointer; }

@keyframes menuFade {
  from {
    color: #4f0e1f; }
  to {
    color: #4f915b; } }
@keyframes fadeIn {
  from {
    opacity: 0.6; }
  to {
    opacity: 1; } }
@keyframes burgerMenuFadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes burgerMenuFadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@media only screen and (max-width: 1199px) {
  .header-contact-cont {
    width: 100% !important; } }
@media only screen and (max-width: 1061px) {
  .nav-bar {
    text-align: center; } }
@media only screen and (max-width: 652px) {
  .left-side {
    width: 60% !important; } }
@media only screen and (max-width: 550px) {
  .left-side {
    font-size: 10px !important;
    position: relative !important;
    left: 0% !important;
    top: 110px !important;
    width: 100% !important; }

  .right-side {
    font-size: 10px !important;
    position: relative !important;
    top: 120px !important;
    left: 0 !important;
    width: 100% !important; }

  .name2 {
    display: inline-block !important;
    width: 65% !important; }

  .hero-footer-text {
    left: 18% !important;
    width: 63% !important; }

  .header {
    width: 90% !important; } }
.header {
  font-weight: 900;
  color: #4f0e1f;
  height: 69px;
  position: relative;
  margin: 0 auto;
  width: 55%;
  margin-bottom: 65px; }

.logo {
  background-color: #4f0e1f;
  height: 29px;
  border-radius: 33px; }

.co-name {
  font-size: 12px;
  font-weight: 900; }

.slogan {
  font-size: 8px; }

.gen-inq, .gen-toll {
  font-weight: 0;
  color: #4f915b; }

.logo-name-container {
  position: relative;
  top: 2px;
  left: 0;
  display: inline-block;
  text-align: center; }

.nav-bar {
  position: relative;
  bottom: 17px;
  display: inline;
  font-weight: 900;
  z-index: 2;
  margin: 0; }

li {
  color: #4f0e1f;
  font-size: 9px;
  display: inline-block; }
  li:hover {
    cursor: pointer;
    color: #4f915b;
    animation: menuFade 1s forwards; }

.menu-li {
  padding-left: 25px; }

.nav-container {
  text-align: right;
  font-size: 9px; }

.header-contact-cont {
  font-size: 9px;
  position: absolute;
  right: 0px;
  bottom: 41px;
  font-size: 9px;
  display: inline-block;
  text-align: right; }

.header-gen-inq {
  display: inline-block; }

.header-toll-free {
  padding-left: 5px;
  display: inline-block; }

.hero {
  position: relative;
  top: 175px;
  text-align: center;
  width: 100%;
  height: 200px;
  margin-bottom: 25px; }

.hero-footer {
  position: relative;
  background-color: #4f0e1f;
  margin: 0 auto;
  width: 100%;
  height: 100px; }

.hero-footer-text {
  font-size: 13px;
  color: #fff;
  height: 100px;
  position: absolute;
  left: 30%;
  z-index: 10;
  top: 20px;
  bottom: 3px;
  margin: 0 auto;
  text-align: center;
  width: 40%; }

.slider {
  height: 270px;
  position: absolute;
  right: 1px;
  bottom: 100px;
  width: 100%; }

.image-text {
  position: relative;
  z-index: 3;
  bottom: 116px;
  text-align: center; }

.image-one {
  position: relative;
  bottom: 85px; }

.image-header {
  display: inline-block;
  color: #4f0e1f;
  font-size: 25px; }

.lorem1 {
  font-size: 13px; }

.button1 {
  margin-top: 20px;
  font-size: 10px;
  color: #fff;
  padding: 3px;
  display: inline-block;
  background-color: #4f915b; }
  .button1:hover {
    cursor: pointer;
    color: #4f0e1f; }
  .button1:active {
    background-color: #4f0e1f;
    color: #fff; }

.dot {
  width: 10px;
  height: 10px;
  border: 1px solid #4f0e1f;
  position: relative;
  z-index: 10;
  border-radius: 10px;
  display: inline-block;
  /*background-color: $burgandy;*/
  /*	background-position: center;
  	background-size: cover;
  
  	position: relative;
  	z-index: 10;
  	display: inline-block;
  	&:hover{
  		cursor: pointer;
  	}*/ }
  .dot:hover {
    cursor: pointer; }

.hero-selector {
  background-color: #4f0e1f; }

.service-contact {
  text-align: center;
  width: 100%;
  left: 0;
  margin: 0 auto;
  position: relative;
  bottom: 80px; }

.hand-tool-logo {
  position: relative;
  transform: rotate(-90deg); }

.left-side {
  font-size: 10px;
  position: absolute;
  left: 6%;
  top: 110px;
  width: 50%; }

.right-side {
  font-size: 10px;
  position: relative;
  top: 110px;
  left: 44%;
  width: 50%; }

.service, .contact-us {
  color: #4f0e1f; }

.airplane-logo {
  height: 35px; }

.service-header1 {
  color: #4f915b;
  margin-top: 20px;
  position: relative;
  text-align: left;
  font-size: 15px; }

.service-header2 {
  color: #4f915b;
  margin-top: 10px;
  position: relative;
  /*left: 34%;*/
  text-align: left;
  font-size: 15px; }

.service-align {
  margin: 0 auto;
  position: relative;
  width: 35%;
  text-align: left; }

.all-services {
  background-color: #4f915b;
  margin-top: 15px;
  font-size: 7px;
  color: #fff;
  width: 70%;
  text-align: center;
  padding: 5px; }
  .all-services:hover {
    cursor: pointer;
    color: #000; }
  .all-services:active {
    background-color: #4f0e1f; }

.card-logo {
  margin-right: 7px; }

.name {
  font-size: 15px;
  color: #4f915b;
  display: inline; }

.name2 {
  font-size: 15px;
  color: #4f915b;
  display: inline; }

.align-right1 {
  display: inline-block;
  text-align: left;
  margin: 0 auto;
  margin-top: 20px; }

.align-right2 {
  display: inline-block;
  position: relative;
  left: 43px;
  text-align: left;
  margin-top: 20px; }

.email, .office, .mobile {
  font-weight: 900;
  color: #4f915b;
  display: inline; }

.email,
.the-email,
.office,
.office-num,
.mobile,
.mobile-num {
  display: inline-block; }

.footer {
  text-align: center;
  position: relative;
  top: 150px;
  margin: 0 auto;
  width: 100%;
  height: 170px;
  background-color: #4f0e1f; }

.logo2 {
  margin-top: 20px;
  background-color: #4f915b;
  border-radius: 33px;
  height: 39px; }

.footer-logo {
  color: #4f915b;
  font-size: 10px;
  font-weight: 900; }

.footer-info {
  margin-top: 15px;
  font-size: 10px; }

.slogan2 {
  font-size: 6px;
  font-weight: 900;
  color: #4f915b; }

.footer-num, .footer-free {
  color: #4f915b; }

.footer-address,
.first-line {
  color: #fff; }

.third-line {
  margin-top: 5px;
  font-size: 6px;
  color: rgba(255, 255, 250, 0.6); }

.sitemap:hover {
  cursor: pointer;
  color: #4f915b;
  animation: menuFade 1s forwards; }

body {
  font-family: 'Sarala', sans-serif;
  margin: 0;
  padding: 0; }

.container, body {
  position: relative;
  z-index: -100; }

/*# sourceMappingURL=main.css.map */
