@media only screen and (max-width: 800px) {
  .nav-bar {
    display: none !important; }

  .header-contact-cont {
    display: none !important; }

  .burger-container {
    /* icon */
    position: absolute;
    z-index: 1000;
    bottom: 0;
    right: 0;
    z-index: 10;
    background-position: center;
    background-size: cover;
    width: 44px;
    height: 44px;
    background-image: url(../img/burger-menu.png); }
    .burger-container:hover {
      cursor: pointer; }

  .burger-menu-container {
    /* burger menu container */
    background-color: #eceff1 !important;
    position: absolute;
    top: 2%;
    height: 180px;
    box-shadow: 1px 1px 2px black;
    z-index: 100;
    width: 100%; }

  .header-contact-cont2 {
    margin-top: -17px;
    position: relative;
    bottom: 103px;
    font-size: 9px;
    text-align: center; }

  .burger-menu {
    /*new nav inside burger menu*/
    position: relative;
    top: 24%;
    margin: 0 auto;
    width: 9%;
    text-align: center; } }
/*closes media 800px*/
@media only screen and (max-width: 652px) {
  .burger-menu {
    width: 11% !important; } }
@media only screen and (max-width: 543px) {
  .burger-menu {
    width: 15% !important; } }
@media only screen and (min-width: 800px) {
  .burger-menu,
  .burger-menu-container,
  .header-gen-inq2 {
    display: none !important; } }
.burger-menu,
.burger-menu-container,
.header-gen-inq2 {
  display: none; }

ul {
  /*this is a fix, not sure where this padding-left is*/
  padding-left: 0px !important; }

.close {
  position: absolute;
  right: 0;
  width: 25px;
  height: 25px;
  background-position: center;
  background-size: cover;
  background-image: url("../img/close.png"); }
  .close:hover {
    cursor: pointer; }

@keyframes menuFade {
  from {
    color: #4f0e1f; }
  to {
    color: #4f915b; } }
@keyframes fadeIn {
  from {
    opacity: 0.5; }
  to {
    opacity: 1; } }
@media only screen and (max-width: 1199px) {
  .header-contact-cont {
    width: 100% !important; } }
@media only screen and (max-width: 1061px) {
  .nav-bar {
    text-align: center; } }
@media only screen and (max-width: 652px) {
  .left-side {
    width: 60% !important; } }
@media only screen and (max-width: 550px) {
  .left-side {
    font-size: 10px !important;
    position: relative !important;
    left: 0% !important;
    top: 110px !important;
    width: 100% !important; }

  .right-side {
    font-size: 10px !important;
    position: relative !important;
    top: 120px !important;
    left: 0 !important;
    width: 100% !important; }

  .name2 {
    display: inline-block !important;
    width: 65% !important; }

  .hero-footer-text {
    left: 18% !important;
    width: 63% !important; }

  .header {
    width: 90% !important; } }
.header {
  font-weight: 900;
  color: #4f0e1f;
  height: 69px;
  position: relative;
  margin: 0 auto;
  width: 55%;
  margin-bottom: 65px; }

.logo {
  background-color: #4f0e1f;
  height: 29px;
  border-radius: 33px; }

.co-name {
  font-size: 12px;
  font-weight: 900; }

.slogan {
  font-size: 8px; }

.gen-inq, .gen-toll {
  font-weight: 0;
  color: #4f915b; }

.logo-name-container {
  position: relative;
  top: 2px;
  left: 0;
  display: inline-block;
  text-align: center; }

.nav-bar {
  position: relative;
  bottom: 17px;
  display: inline;
  font-weight: 900;
  z-index: 2;
  margin: 0; }

li {
  color: #4f0e1f;
  font-size: 9px;
  display: inline-block; }
  li:hover {
    cursor: pointer;
    color: #4f915b;
    animation: menuFade 1s forwards; }

.menu-li {
  padding-left: 25px; }

.nav-container {
  text-align: right;
  font-size: 9px; }

.header-contact-cont {
  font-size: 9px;
  position: absolute;
  right: 0px;
  bottom: 41px;
  font-size: 9px;
  display: inline-block;
  text-align: right; }

.header-gen-inq {
  display: inline-block; }

.header-toll-free {
  padding-left: 5px;
  display: inline-block; }

.hero {
  position: relative;
  top: 175px;
  text-align: center;
  width: 100%;
  height: 200px;
  margin-bottom: 25px; }

.hero-footer {
  position: relative;
  background-color: #4f0e1f;
  margin: 0 auto;
  width: 100%;
  height: 100px; }

.hero-footer-text {
  font-size: 13px;
  color: #fff;
  height: 100px;
  position: absolute;
  left: 30%;
  z-index: 10;
  top: 20px;
  bottom: 3px;
  margin: 0 auto;
  text-align: center;
  width: 40%; }

.slider {
  height: 270px;
  position: absolute;
  right: 1px;
  bottom: 100px;
  width: 100%; }

.image-text {
  position: relative;
  z-index: 3;
  bottom: 116px;
  text-align: center; }

.image-one {
  position: relative;
  bottom: 85px; }

.image-header {
  display: inline-block;
  color: #4f0e1f;
  font-size: 25px; }

.lorem1 {
  font-size: 13px; }

.button1 {
  margin-top: 20px;
  font-size: 10px;
  color: #fff;
  padding: 3px;
  display: inline-block;
  background-color: #4f915b; }
  .button1:hover {
    cursor: pointer;
    color: #4f0e1f; }
  .button1:active {
    background-color: #4f0e1f;
    color: #fff; }

.dot {
  width: 10px;
  height: 10px;
  border: 1px solid #4f0e1f;
  position: relative;
  z-index: 10;
  border-radius: 10px;
  display: inline-block;
  /*background-color: $burgandy;*/
  /*	background-position: center;
  	background-size: cover;
  
  	position: relative;
  	z-index: 10;
  	display: inline-block;
  	&:hover{
  		cursor: pointer;
  	}*/ }
  .dot:hover {
    cursor: pointer; }

.hero-selector {
  background-color: #4f0e1f; }

.service-contact {
  text-align: center;
  width: 100%;
  left: 0;
  margin: 0 auto;
  position: relative;
  bottom: 80px; }

.hand-tool-logo {
  position: relative;
  transform: rotate(-90deg); }

.left-side {
  font-size: 10px;
  position: absolute;
  left: 6%;
  top: 110px;
  width: 50%; }

.right-side {
  font-size: 10px;
  position: relative;
  top: 110px;
  left: 44%;
  width: 50%; }

.service, .contact-us {
  color: #4f0e1f; }

.airplane-logo {
  height: 35px; }

.service-header1 {
  color: #4f915b;
  margin-top: 20px;
  position: relative;
  text-align: left;
  font-size: 15px; }

.service-header2 {
  color: #4f915b;
  margin-top: 10px;
  position: relative;
  /*left: 34%;*/
  text-align: left;
  font-size: 15px; }

.service-align {
  margin: 0 auto;
  position: relative;
  width: 35%;
  text-align: left; }

.all-services {
  background-color: #4f915b;
  margin-top: 15px;
  font-size: 7px;
  color: #fff;
  width: 70%;
  text-align: center;
  padding: 5px; }
  .all-services:hover {
    cursor: pointer;
    color: #000; }
  .all-services:active {
    background-color: #4f0e1f; }

.card-logo {
  margin-right: 7px; }

.name {
  font-size: 15px;
  color: #4f915b;
  display: inline; }

.name2 {
  font-size: 15px;
  color: #4f915b;
  display: inline; }

.align-right1 {
  display: inline-block;
  text-align: left;
  margin: 0 auto;
  margin-top: 20px; }

.align-right2 {
  display: inline-block;
  position: relative;
  left: 43px;
  text-align: left;
  margin-top: 20px; }

.email, .office, .mobile {
  font-weight: 900;
  color: #4f915b;
  display: inline; }

.email,
.the-email,
.office,
.office-num,
.mobile,
.mobile-num {
  display: inline-block; }

.footer {
  text-align: center;
  position: relative;
  top: 150px;
  margin: 0 auto;
  width: 100%;
  height: 170px;
  background-color: #4f0e1f; }

.logo2 {
  margin-top: 20px;
  background-color: #4f915b;
  border-radius: 33px;
  height: 39px; }

.footer-logo {
  color: #4f915b;
  font-size: 10px;
  font-weight: 900; }

.footer-info {
  margin-top: 15px;
  font-size: 10px; }

.slogan2 {
  font-size: 6px;
  font-weight: 900;
  color: #4f915b; }

.footer-num, .footer-free {
  color: #4f915b; }

.footer-address,
.first-line {
  color: #fff; }

.third-line {
  margin-top: 5px;
  font-size: 6px;
  color: rgba(255, 255, 250, 0.6); }

.sitemap:hover {
  cursor: pointer;
  color: #4f915b;
  animation: menuFade 1s forwards; }

body {
  font-family: 'Sarala', sans-serif;
  margin: 0;
  padding: 0; }

.container, body {
  position: relative;
  z-index: -100; }

/*# sourceMappingURL=main.css.map */
